<h1>Blogging Website</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Josembi's Blogging website which I build with fully conforming to TDD and BDD. <br>  Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>